<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pibot</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="../static/css/Header-Blue.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    
    <div>
        <div class="header-blue" style="background-image:url(&quot;../static/img/header.jpg&quot;);background-size:cover;">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><a class="navbar-brand" href="#">Tel Bot</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse"
                        id="navcol-1">
                        <ul class="nav navbar-nav"></ul>
                        <form class="form-inline mr-auto" target="_self">
                            <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" name="search" id="search-field"></div>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="container hero">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                        <h1>The revolution is here.</h1>
                        <p>Tel Bot is a telegram based chatbot which provides you with informations such as Weather report and time. It also assist you tu on and off lights in your home. &nbsp;etc...</p>
                        <br>
                        <p><b>SYSTEM MANUAL </b>
                            The programme contains three (3) functions. Thus,</p>
                            <p>
                            1. Weather  (weather city country)</p>
                            <p>
                            2. Time  (time)</p>
                        <p>
                            3. Home Automation.
                              To put various lights on and off, follow these commands.<br>
                             a. (on bedroom light)<br>
                             b. (off bedroom light)<br>
                             c. (on living room light)<br>
                             d. (off living room light)<br>
                             e. (on garage light)<br>
                             f. (off garage light)<br>
                             g. (on outside light)<br>
                             h. (off outside light)
                        </p>
                        <a class="btn btn-light btn-lg action-button" role="button" href="https://web.telegram.org/?source=post_page---------------------------#/im?p=@Glblcd_Bot">Get Started</a></div>
                    <div
                        class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder" style="background-image:url(&quot;../static/img/1_YVTFl1UEkt3_rkez-DIU9w.png&quot;);background-size:auto;height:390px;background-position:center;background-repeat:no-repeat;">
                        <div class="iphone-mockup">
                            <div class="screen"></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
